/**{outline: 1px solid red !important;}*/

*	{
	-webkit-boz-sizing: border-box;
	-moz-boz-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body	{
	background-color: #273d3f;
	color: white;
}

.tudo	{
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}

.banner	{
	text-align: center;
}

